/* HEADER */
header {
    background-color: var(--secondary-color);
    text-align: center;
}

nav {
    display: inline-flex;
    justify-content: center;
}


nav a {
    color: var(--counter-baseColor);
    padding: 10px;
    background-color: var(--alternative-color);
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #0056b3;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--secondary-color);
    color: var(--counter-baseColor);
}