@import url('./normalize.css');

/* DIFERENCIAR CITAS CORTAS */
q {
    font-style: italic;
}

h1 {
    font-size: var(--font-display); 
}

h2 {
    font-size: var(--font-jumbo);
}

h3 {
    font-size: var(--font-xlarge); 
}

p {
    font-size: var(--font-medium); 

small {
    font-size: var(--font-small); 
}

.section {
    padding-top: var(--spacing-24); 
    padding-bottom: var(--spacing-24); 
}

.article {
    margin-bottom: var(--spacing-16); 
}

.sidebar {
    margin-right: var(--spacing-12); 
}

.button {
    padding: var(--spacing-8);
}