<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros - Tech Hub Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}" type="image/x-icon">
</head>

<body>

    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="{{ url_for('home') }}">TECH HUB PROJECT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('shop') }}">Catálogo</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">Sobre nosotros</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contacto</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <section class="about-us" id="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <img src="{{ url_for('static', filename='assets/img/DALL·E 2024-05-30 04.06.37 - A professional, modern workspace with multiple computer screens on desks, advanced PC gaming setups, high-end gaming chairs, and decorative LED lighti.webp') }}"
                            alt="Tech Hub Workspace" class="img-fluid box-img">
                    </div>
                    <div class="col-md-6">
                        <h2>Sobre Nosotros</h2>
                        <p>Tech Hub Project es tu destino definitivo para productos de PC de alta calidad.
                            Desde configuraciones de juego avanzadas hasta estaciones de trabajo profesionales,
                            nuestro compromiso es ofrecerte la mejor tecnología disponible. Con más de una década de
                            experiencia,
                            proporcionamos soluciones personalizadas que se adaptan a las necesidades de nuestros
                            clientes más exigentes.</p>
                        <p>Nuestro equipo de expertos está siempre disponible para ayudarte a seleccionar el
                            equipo perfecto que no solo cumpla, sino que supere tus expectativas. En Tech Hub, creemos
                            en el poder
                            de la tecnología para transformar y mejorar tu vida, ya sea para jugar, trabajar o aprender.
                        </p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 div-frase">
                        <div class="random-message-box p-4 border frase">
                            <p class="m-0">¡Descubre la innovación y calidad que sólo Tech Hub Project puede ofrecerte!
                                Explora nuestra amplia gama de productos y encuentra exactamente lo que necesitas para
                                llevar tu experiencia tecnológica al siguiente nivel.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="container-fluid text-center mt-5">
        <p>&copy; 2024 Tech Hub Developers. Todos los derechos reservados.</p>
        <div class="enlaces-contenedor">
            <a href="https://www.facebook.com/?locale=es_LA"><i class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a>
            <a href="https://ar.linkedin.com/"><i class="fab fa-linkedin"></i></a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>
